.header
{
	width:100%;
	height:100px;
	color:white;
	background-color:Red;
	float:left;
}
.navbar
{
	width:100%;
	height:50px;
	color:white;
	background-color:grey;
	float:left;
}
.banner
{
	width:100%;
	height:250px;
	color:white;
	background-color:yellow;
	float:left;
}
.sidebar
{
	width:15%;
	height:600px;
	color:white;
	background-color:blue;
	float:left;
}
.mainbar
{
	width:70%;
	height:600px;
	color:white;
	background-color:black;
	float:left;
}
.mainbox
{
	width:33.33%;
	color:black;
	background-color:pink;
	float:left;
}
.footer
{
	width:25%;
	height:100px;
	color:white;
	background-color:green;
	float:left;
}
